*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* custom properies palette */

:root {
    --bgc-main: #141922;
    --bgc-secondary: #282828;
    --bgc-top : #080b12;
}


/* generics */

body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}
/* utility */

.row {
    display: flex;
}

.grow {
    flex-grow: 1;
}

.w-50 {
    width: 50px;
}

.w-full {
    width: 100%;
}

/* header */

.main-header {
    
    height: 100px;
    background-color: var(--bgc-top);
}

/* main */


main {
    height: calc(100vh - 200px);
    overflow: auto;
    background-color: var(--bgc-main);
}

.side-bar {
    height: 100%;
    background-color: #000;
}

.main-link {
    display:flex;
    
}

/* footer */

footer {
    height: 100px;
    background-color: var(--bgc-secondary);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/********************************************
                RESPONSIVE
***************************************/

 @media screen and (min-width:576px) {

    .main-header {
        width: calc(100vw - 200px);
    }
    .side-bar.w-200-tablet {
        width: 200px;
    }
    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
 }
