*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* custom properies palette */

:root {
    --bgc-main: #141922;
    --bgc-secondary: #282828;
    --bgc-top : #080b12b9;
}


/* generics */

body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
    color: #b2b2b2;
}

img {
    width: 100%;
    display: block;
}


/********* utility **********/

.row {
    display: flex;
    
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

/* btn */

.btn {
    color: #fff;
}

.btn.mid-btn {
    padding: 10px 20px;
}

.small-dwnld {
    width: 60%;
    margin: 5px auto;
}

/********* space **********/

.grow {
    flex-grow: 1;
}

.w-50 {
    width: 50px;
}

.w-full {
    width: 100%;
}

.p-1 {
    padding: 10px;
}

.p-2 {
    padding: 30px;
}

.lateral-space-s {
    padding: 0 10px;
}

.lateral-space-xs {
    padding: 0 5px;
}

.m-bot-s {
    margin-bottom: 15px;
}


/******** border *********/

.rounded {
 border-radius: 20px;
 
}

.circle-small {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #b2b2b2;
    overflow: hidden;
    margin-right: 10px;
}

.circle-image {
    object-fit: cover;
    border-radius: 50%;
}

.border-bot {
    border-bottom: 1px solid #b2b2b2;
    margin-bottom: 5px;
}

/************** SiDeBaR ****************/

.side-bar {
    height: 100%;
    background-color: #000;
    font-weight: 600;
    height: calc(100vh - 100px);
    overflow: auto;
}

.side-bar .side-icon {
    filter: opacity(.7);
    margin-bottom: 10px;
}

.side-bar.w-250-tablet ul {
    position: relative;
}

.side-bar.w-250-tablet .selected-side::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 71px;
    height:  5%;
    border-left: 4px solid rgb(0, 255, 42);
}

#logo-phone, #logo-big {
    filter: none;
    margin-bottom: 30px;
}
/******** Sidebar phone *********/

.side-bar.w-50 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/****************** sidebar big ******************/

.side-bar.w-250-tablet {
    display: none;  
    width: 250px;  
    color: #b2b2b2;
    padding: 30px 30px 5px 30px;
    font-size: 13px;
}

.side-bar.w-250-tablet .side-icon {
    width: 15%;
    margin-bottom: 10px;
}

#logo-big {
    width: 70%;
}

.side-bar.w-250-tablet li {
    display: flex;
    align-items: center;
}

.side-bar h3 {
    color: #fff;
    font-size: 18px;
}

.fa-square-plus {
    font-size: 40px;
    margin-right: 10px;
}

/* header */

.main-header {
    height: 100px;
    background-color: var(--bgc-top);
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 12px;
    font-weight: bolder;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.main-header .btn.mid-btn {
    border: 1px solid white;
    margin-right: 10px;
}

/* main */


main {
    height: calc(100vh - 100px);
    overflow: auto;
    background-color: var(--bgc-main);
}

.main-link {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    font-size: 11px;
    font-weight: 600;
}

.selected-link {
    position: relative;
}

.selected-link::before {
    content: "";
    position: absolute;
    left: 32px;
    top: 15px;
    width: 30%;
    border-bottom: 2px solid rgb(0, 255, 42);
}

/*************  Main section  *****************/

.recently h2, h4 {
    color: #fff;
    margin: 10px 0;
}

.recently h4 {
    font-size: 15px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.card {
    text-align: center;
    width: 50%;
}

.recently span {
    color: #b2b2b2;
    font-size: 11px;
    font-weight: 600;
}

/* footer */

footer {
    height: 100px;
    background-color: var(--bgc-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b2b2b2;
}

/************ left footer **************/

.left-footer {
    display: flex;
    justify-content: start;
    align-items: center;
    flex: 0 0 25%;
}

.current {
    width: 50px;
}

.left-footer h5 {
    color: #fff;
    font-size: .7rem;
}

.info-player {
    font-size: .6rem;
}

.left-footer i {
    display: block;
    margin: 5px 0;
}


/************ central footer **************/

.central-footer {
    flex: 0 0 50%;
    text-align: center;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    gap: 3px;
}

.progress-bar-container {
    width: 60%;
    height: 5px;
    background-color: #5f5f5f;
    border-radius: 10px;
    position: relative;
}
.progress-bar {
    width: 30%;
    height: 100%;
    background-color: #b2b2b2;
    border-radius: 10px;
}

.player-command {
    color: #fff;
}

/************ right footer **************/

.right-footer {
    flex: 0 0 25%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 0.8rem;
}

.right-footer i {
    font-size: .7rem;
    margin: 0 2px;
}
.volume-container{
    width: 50%;
    height: 5px;
    background-color: #5f5f5f;
    border-radius: 10px;
    position: relative;
}

.volume-menu {
    margin-right: 3px;
}

/********************************************
                RESPONSIVE
***************************************/

/*********** S ***********/

 @media screen and (min-width:576px) {

 

    .side-bar.w-50 {
        display: none;
    }

    .side-bar.w-250-tablet {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .small-dwnld-tablet {
        width: 10%;
        margin: 0 5px 0 3px;
    }
 }

/*********** M ***********/

@media screen and (min-width:768px) {

    .card {
        width: 25%;
    }

}

/*********** L ***********/

@media screen and (min-width:1080px) {

    .card {
        width: calc(100% / 6);
    }
}